<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.kusumika.school.mapper.kusumikadb.StudentMapper">
 
 	<select id="getStudent"	resultType="com.kusumika.school.bean.Student">
		 select
			student_id "studentId",
			first_name "firstName",
			middle_name "middleName",
			last_name "lastName",
			standard,
			roll_no "rollNo",
			date_of_birth "dob",
			aadhar,
			bank_ifsc "bankIfsc",
			bank_account_number "accountNumber",
			bank_account_holder "accountHolder",
			household_id "householdId"
		from
			kusumika.student
		where
			student_id = #{id};
 	</select>
 	
 	<select id="getStudentWithClassRoll" resultType="com.kusumika.school.bean.Student">
		 select
			student_id "studentId",
			first_name "firstName",
			middle_name "middleName",
			last_name "lastName",
			standard,
			roll_no "rollNo",
			date_of_birth "dob",
			aadhar,
			bank_ifsc "bankIfsc",
			bank_account_number "accountNumber",
			bank_account_holder "accountHolder",
			household_id "householdId"
		from
			kusumika.student
		where
			standard = #{standard};
			and roll_no = #{rollNo};
 	</select>
 	
 	<select id="getStudents" resultType="com.kusumika.school.bean.Student">
 		select
			student_id "studentId",
			first_name "firstName",
			middle_name "middleName",
			last_name "lastName",
			standard,
			roll_no "rollNo",
			date_of_birth "dob",
			aadhar,
			bank_ifsc "bankIfsc",
			bank_account_number "accountNumber",
			bank_account_holder "accountHolder",
			household_id "householdId"
		from
			kusumika.student
 	</select>
 	
</mapper>